@import "_var.scss";

/*====== 上下左右居中弹窗*/
.dialog-wrap._middle {
  box-sizing: border-box;
  padding-top: 16px;
  padding-bottom: 16px;
  /* 水平居中关键 */
  text-align: center;
  /* 让 vertical-align: middle; 完美垂直居中 */
  font-size: 0;
}

/* .dialog 元素和这个伪元素垂直居中 */
.dialog-wrap._middle:after {
  content: "";
  height: 100%;
  display: inline-block;
  width: 0;
  vertical-align: middle;
  margin-left: -1px; /* 防止 .dialog 过宽，伪元素换行 */
}

.dialog-wrap._middle .dialog {
  width: 90%; /* 在小屏下，流出左右空白区域*/
  max-width: 600px;
  border-radius: 3px;
  display: inline-block; /* inline-block布局 */
  vertical-align: middle; /* 对齐 .dialog:after */
  text-align: left; /* 让 dialog 内部文字还原到左对齐 */
  font-size: 16px; /* 让 dialog 内部文字还原到基础字号 */

  /* 上滑动效 */
  transform: translate3d(0, 20px, 0);
  transition: transform 200ms;
}

/*显示的时候上滑动*/
.dialog-wrap._middle._on .dialog {
  transform: translate3d(0, 0, 0);
}
