<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width,initial-scale=1,user-scalable=no"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <base target="_blank" />
    <title>YFE-BP 模态框</title>
    <link rel="stylesheet" href="./css/index.css" />
  </head>
  <body>
    <a href="/YFE-BP" title="YFE-BP 前端最佳实践"
      ><h1>YFE-BP 前端最佳实践</h1></a
    >
    <h2>模态框 DEMO</h2>

    <button type="button" onclick="dialogDefault.classList.add('_on')">点我显示默认弹窗</button>
    <div id="dialogDefault" class="dialog-wrap">
      <a href="javascript:;" title="关闭" onclick="dialogDefault.classList.remove('_on')" class="dialog-mask"></a>
      <div class="dialog">
        <a href="javascript:;" title="关闭" onclick="dialogDefault.classList.remove('_on')" class="dialog-close">&times;</a>
        <div class="dialog-hd"><h3 class="dialog-title">模态框标题</h3></div>
        <div class="dialog-bd">模态框内容</div>
        <div class="dialog-ft">模态框底部（一般为操作区）</div>
      </div>
    </div>

    <button type="button" onclick="dialogMiddle.classList.add('_on')">点我显示上下居中弹窗</button>
    <div id="dialogMiddle" class="dialog-wrap _middle">
      <a href="javascript:;" title="关闭" onclick="dialogMiddle.classList.remove('_on')" class="dialog-mask"></a>
      <div class="dialog">
        <a href="javascript:;" title="关闭" onclick="dialogMiddle.classList.remove('_on')" class="dialog-close">&times;</a>
        <div class="dialog-hd"><h3 class="dialog-title">模态框标题</h3></div>
        <div class="dialog-bd">模态框内容</div>
        <div class="dialog-ft">模态框底部（一般为操作区）</div>
      </div>
    </div>

    <button type="button" onclick="dialogBottom.classList.add('_on')">点我显示底部对齐弹窗</button>
    <div id="dialogBottom" class="dialog-wrap _bottom">
      <a href="javascript:;" title="关闭" onclick="dialogBottom.classList.remove('_on')" class="dialog-mask"></a>
      <div class="dialog">
        <a href="javascript:;" title="关闭" onclick="dialogBottom.classList.remove('_on')" class="dialog-close">&times;</a>
        <div class="dialog-hd"><h3 class="dialog-title">模态框标题</h3></div>
        <div class="dialog-bd">模态框内容</div>
        <div class="dialog-ft">模态框底部（一般为操作区）</div>
      </div>
    </div>
  </body>
</html>
