<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width,initial-scale=1,user-scalable=no"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>YFE-BP 按钮</title>
    <style>
      html {
        font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica,
          Arial, sans-serif;
      }
      style[contenteditable] {
        display: block;
        white-space: pre-line;
        word-wrap: normal;
        line-height: 1.5;
      }
      h3.demo-mod {
        padding-top: 1em;
      }
    </style>
    <link rel="stylesheet" href="./css/index.css" />
  </head>
  <body>
    <a href="/YFE-BP" title="YFE-BP 前端最佳实践"
      ><h1>YFE-BP 前端最佳实践</h1></a
    >
    <h2>按钮组件 DEMO</h2>
    <a href="./index.html" title="查看简介">查看简介</a>

    <h3 id="base" class="demo-mod">按钮基础样式 <small>[_base.scss]</small></h3>
    <button class="btn">按钮</button>

    <h3 id="theme" class="demo-mod">按钮主题 <small>[_theme.scss]</small></h3>
    <button class="btn _primary">按钮 <code>[_primary]</code></button>
    <button class="btn _warning">按钮 <code>[_warning]</code></button>
    <button class="btn _success">按钮 <code>[_success]</code></button>
    <button class="btn _danger">按钮 <code>[_danger]</code></button>

    <h3 id="size" class="demo-mod">按钮大小 <small>[_size.scss]</small></h3>
    <button class="btn">默认按钮</button>
    <button class="btn _large">大按钮 <code>[_large]</code></button>
    <button class="btn _middle">中号按钮 <code>[_middle]</code></button>
    <button class="btn _small">小按钮 <code>[_small]</code></button>

    <h3 id="shape" class="demo-mod">按钮形态 <small>[_shape.scss]</small></h3>
    <button class="btn _link">链接按钮 <code>[_link]</code></button>
    <button class="btn _ghost">幽灵按钮 <code>[_ghost]</code></button>
    <button class="btn _capsule">胶囊按钮 <code>[_capsule]</code></button>
    <button class="btn _block">行级按钮 <code>[_block]</code></button>

    <h3 id="status" class="demo-mod">按钮状态 <small>[_status.scss]</small></h3>
    <button disabled class="btn">禁用按钮[:disabled]</button>
    <button class="btn _hover">禁用鼠标移入[:hover]</button>
    <button class="btn _focus">禁用获取焦点[:focus]</button>
    <button class="btn _active">禁用按下[:active]</button>
  </body>
</html>
