/**
 * [基础颜色]
 */
$c_primary: #3b66f5; // 蓝色
$c_primary1:#6e8ffa; // 浅蓝
$c_primary2:#c2d0ff; // 比蓝更蓝
$c_danger: #f53165; // 红色
$c_danger1:#fa648c; // 浅红
$c_danger2:#ffc2d2; // 比红更红
$c_success: #39cca0; // 绿色
$c_success1:#63e0b7; // 浅绿
$c_success2:#baf5e1; // 比绿更绿
$c_warning: #ff8d29; // 黄色
$c_warning1:#ffb370; // 浅黄
$c_warning2:#ffddc2; // 比黄更黄
$c_border: #d7d8e0; // 边框颜色
$c_background: #f5f5fa; // 背景颜色

/**
 * [文字颜色]
 */
$c_l: #1f2129; // 文字默认颜色
$c_m: #5a5b66; // 文字辅助色
$c_s: #83848f; // 文字减弱颜色
$c_xs: #c0c2cc; // 文字比弱更弱

/**
 * [z-index 层级]
 */
$z_header: 100; // fix 状态的 header
$z_sidebar: 110; // 侧边栏
$z_toast: 300; // toast提示
$z_dialog: 200; // 弹窗
$z_overlay: 100; // 浮层
