@import '_var.scss';
.btn {
	display: inline-block;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	user-select: none;
	box-sizing: border-box;
	border: 1px solid transparent;
	border-radius: 3px;
	cursor: pointer;
}